.App {
  text-align: center;
}

body {
  background-color: lightgray;
}

h1 {
  text-align: center;
}

.shipContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shipCard {
  height: 200px;
  width: 400px;
  background-color: teal;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.shipCard:hover {
  background-color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: teal;
}

.shipDetailCard {
  height: 200px;
  width: 400px;
  background-color: teal;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.shipDetailCard a:hover {
  color: white;
  text-decoration: underline;
}
